h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
  word-spacing: 50px;
}

.bold-paragraph {
  color: #4031c5;
}

#bold {
  background-color: #4031c5;
  color: white;
}

img {
  width: 100%;
  margin-bottom: 100px;
  border-radius: 200px;
}

#waterfall {
  width: 100%;
  border-radius: 80px;
}
